<html>
    <head>
        <title>{{title}}</title>
        <script type="module">import * as library from './static/__target__/library.js'; window.library = library;</script>
    </head>
    <body>
        <h1>Welcome to {{title}}</h1>
        <p>
        	In this project you will be able to predict the number of Cumulative Covid-19 deaths in a Country using a number of indicators. 
            For the chosen country, please fill in the text boxes for each indicator. 
        </p>
        <p>
        	<div id="indicator1">Enter the number of new cancer patients in 2020:</div>
            <input type="text" name="num_cancer">
            <div id="indicator2">Enter the number Covid  Cases as of 31/12/2020:</div>
            <input type="text" name="num_cases">
            <div id="indicator3">Enter the GDP per Billion USD as of 2020:</div>
            <input type="text" name="num_GDP">
            <div id="indicator4">Enter the number of smokers in 2020:</div>
            <input type="text" name="num_smoker">
        </p>
        <p>
        	<div id="predictiontitle">Cumulative COVID deaths as of 31/8/2021:</div>
        	<div id="predicted">...</div>
        	<button onclick="library.Predict1()">Predict</button>
        </p>
        <br><a href="index">Home</a>

    </body>
</html>
